@import "../../style/variables.scss";

@function task-bar-gradient($top-color, $middle-color, $bottom-color) {
  @return linear-gradient($top-color, 10%, $middle-color, 40%, $bottom-color);
}

.task-bar-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 640px;
  height: 40px;
  display: flex;
  align-items: center;
  background: task-bar-gradient($task-bar-light-blue, $task-bar-dark-blue, $task-bar-main-blue);
  .task-area {
    user-select: none;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    color: $color-white;
    font-size: 14px;
    font-family: monospace;
    background: task-bar-gradient($task-area-light-blue, $task-area-dark-blue, $task-area-main-blue);
    box-shadow: -1px 2px 2px 0px $task-area-border-color;
  }
}
