@import "src/style/variables.scss";

.windowsButtonWrapper {
  .windowsButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: $task-bar-height;
    line-height: $task-bar-height;
    cursor: pointer;
    font-size: 20px;
    color: $color-white;
    text-align: center;
    margin-right: 16px;
    border-radius: 0 15px 20px 0;
    box-shadow: inset 0px 0px 10px 0px $windows-button-shadow-color;
    transition: background-color .25s;

    &.windowsUnhoveredButton {
      background: radial-gradient($windows-button-light-green-background, $windows-button-dark-green-background);
      opacity: 1;
      transition: opacity .25s;
      &:hover {
        opacity: 0;
      }
    }

    &.windowsHoveredButton {
      background: radial-gradient($windows-button-lighter-green-background, $windows-button-light-green-background);
    }

    .windowsIcon {
      width: 28px;
      height: 28px;
      vertical-align: middle;
      margin-bottom: 4px;
      margin-left: -13px;
    }

    .windowsText {
      user-select: none;
    }
  }
}
