@import "src/style/variables.scss";

@function taskBarGradient($top-color, $middle-color, $bottom-color) {
  @return linear-gradient($top-color, 10%, $middle-color, 40%, $bottom-color);
}

.taskBarContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: $min-width;
  height: $task-bar-height;
  padding-left: 136px;
  display: flex;
  align-items: center;
  background: taskBarGradient($task-bar-light-blue, $task-bar-dark-blue, $task-bar-main-blue);

  .taskArea {
    display: flex;
    align-items: center;
    user-select: none;
    position: absolute;
    right: 134px;
    width: 120px;
    height: $task-bar-height;
    line-height: $task-bar-height;
    text-align: center;
    color: $color-white;
    font-size: 14px;
    font-family: monospace;
    background: taskBarGradient($task-area-light-blue, $task-area-dark-blue, $task-area-main-blue);
    box-shadow: -1px 2px 2px 0px $task-area-border-color;

    .aboutMeIcon {
      width: 20px;
      height: 20px;
      margin: 0 4px;
    }
  }
}
