@import "src/style/variables.scss";

.turnOnContainer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: $turn-on-index;

  .turnOnBorder {
    flex: 2;
    width: 100%;
    background-color: $turn-on-dark-blue;
  }

  .turnOnContent {
    flex: 6;
    width: 100%;
    color: $color-white;
    background-color: $turn-on-light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    .welcomeText {
      font-size: 40px;
    }
  }
}
