@import "../../style/variables.scss";

.turn-on-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: $turn-on-index;
  .turn-on-border {
    flex: 2;
    width: 100%;
    background-color: $turn-on-dark-blue;
  }
  .turn-on-content {
    flex: 6;
    width: 100%;
    color: $color-white;
    background-color: $turn-on-light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    .welcome-text {
      font-size: 40px;
    }
  }
}
