@import "src/style/variables.scss";

.windowsPanelContainer {
  position: absolute;
  top: -$task-bar-height;
  height: $task-bar-height;
  width: 120px;
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: $color-dark-gray;
  box-shadow: 1px -1px 4px $color-dark-gray;
  overflow: hidden;
  background-color: $color-white;
  transition: height .25s, top .25s;
  -webkit-transition: height .25s, top .25s;
  -moz-transition: height .25s, top .25s;
  -ms-transition: height .25s, top .25s;
  -o-transition: height .25s, top .25s;

  &.hidden {
    top: 0;
    height: 0px;
    min-height: 0px;
    border: none;
    box-shadow: none;
  }

  .panelItem {
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: $color-dark-gray;
      background-color: $color-gray;
    }

    .panelItemIcon {
      height: 70%;
      vertical-align: middle;
      margin-right: 6px;
    }

    .panelItemText {
      color: $color-dark-gray;
      vertical-align: middle;
    }
  }
}
