@import "src/style/variables";

@function taskBarGradient($top-color, $middle-color, $bottom-color) {
  @return linear-gradient($top-color, 10%, $middle-color, 40%, $bottom-color);
}

.visible {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 96px);
  width: 100%;
  z-index: $directory-modal-index;
  padding: $task-bar-height 16px 16px;
  background-color: $color-white;
}

.hidden {
  visibility: hidden;
}

.bar {
  height: $task-bar-height;
  width: 100%;
  line-height: $task-bar-height;
  position: inherit;
  top: 0;
  left: 0;
  color: $color-white;
  text-align: center;
  background: taskBarGradient($task-bar-light-blue, $task-bar-dark-blue, $task-bar-main-blue);
  user-select: none;
}

.close {
  font-size: 32px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  position: absolute;
  top: 4px;
  right: 36px;
  border-radius: 4px;
  color: $color-white;
  background-color: $windows-button-light-green-background;
  box-shadow: inset 0px 0px 6px 1px #444;

  &:active {
    background-color: $windows-button-lighter-green-background;
  }
}